################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wild_Life/.vs/Wild_Life/v15/Server/sqlite3/db.lock
